# Node.js
node_modules
.pnpm-store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next/
out/
.contentlayer/

# Turborepo
.turbo/

# TypeScript
*.tsbuildinfo

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# env
.env

# Logs
logs/
*.log

# OS
.DS_Store
thumbs.db
fumadocs-temp
